.canvas-wrapper {
  border:1px solid rgba(0,0,0,.125);
}
.color-picker-popup {
  width: 200px;
  height: 200px;
}
.canvas-div {
  margin-right:10px;
}
.main-div {
  max-width: 450px;
}
.property-box {
  width:100px;
  margin-right:10px;
  float:left;
}

hr {
	margin-bottom:0.5rem;
}