@font-face {
  font-family: 'IPAMincho';
  src: url('/fonts/IPAfont00303/ipam.ttf') format('truetype');
}
@font-face {
  font-family: 'IPAPMincho';
  src: url('/fonts/IPAfont00303/ipamp.ttf') format('truetype');
}
@font-face {
  font-family: 'IPAGothic';
  src: url('/fonts/IPAfont00303/ipag.ttf') format('truetype');
}
@font-face {
  font-family: 'IPAPGothic';
  src: url('/fonts/IPAfont00303/ipagp.ttf') format('truetype');
}

h1 {
  font-size:2rem !important;
}

.canvas-wrapper {
  border:1px solid rgba(0,0,0,.125);
}
.color-picker-popup {
  width: 200px;
  height: 200px;
}
.canvas-div {
  margin: 0 10px;
}
.main-div {
  max-width: 450px;
}
.property-box {
  width:100px;
  margin-right:10px;
  float:left;
}

div.hr-label {
  position:relative;
  margin: 2rem 0 0.5rem 0;
}
div.hr-label.first-item {
  margin-top:0;
}
div.hr-label > label {
  margin: 0 0 0 40px;
  position: absolute;
  top: -0.8rem;
  background: #fff;
  padding: 0 8px 0 3px;
}
div.hr-label > a {
  margin: 0 0 0 8px;
  position: absolute;
  top: -0.7rem;
  background: #fff;
  padding: 0 3px 0 8px;
}

#font-style label {
  width:26px;
  text-align: center;
}

#canvas-xy-disp {
  position: absolute;
}